<style>
    .divider-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .gradient-divider {
        width: 100%;
        height: 10px;
        background: linear-gradient(to right, #593915 0%, hsla(33, 94%, 57%, 1) 100%);
    }
</style>

<MudText Typo="Typo.h4" Color="Color.Primary">Experience</MudText>

<div class="divider-container">
    <hr class="gradient-divider" />
</div>

<MudGrid>



 
    @* Blackfinch *@
    <MudItem xs="12" md="6">
        <MudPaper Class="pa-4">

            <MudStack Justify="Justify.SpaceBetween" Row=true>
                <MudText Typo="Typo.h5" Color="Color.Primary">Senior Software Engineer</MudText>
                <MudText Typo="Typo.body2">Jan 2024 - Ongoing</MudText>
            </MudStack>

            <MudText Typo="Typo.h6" Color="Color.Primary">Blackfinch, Gloucester</MudText>

            <MudText>
                Provided technical leadership and hands-on development expertise within an agile team. Collaborated across teams to deliver robust,
                secure and scalable solutions for the Nest’s application loans and ventures with microservices pattern.
            </MudText>
            <MudList>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">Employed event-driven programming using Rx.NET to boost real-time data processing and improve system responsiveness.</MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Integrated various embedded hardware components, such as diamond analysis hardware and NFC card readers, into Referral
                    system, broadening capabilities.
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Implemented critical features for system, including microservices, using C#, WPF, Angular, CosmosDB, and Azure DevOps
                    Pipelines, enhancing system functionality.
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Led comprehensive implementation of four out of eight distinct microservices.
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Managed migration of main part of application, microservice-based WPF application in .NET C#, ensuring application met high
                    availability requirements and leveraged Azure Service Bus event-driven architecture for seamless communication.
                </MudListItem>
            </MudList>
        </MudPaper>
    </MudItem>

    @* Pina Vida *@
    <MudItem xs="12" md="6">
        <MudPaper Class="pa-4">

            <MudStack Justify="Justify.SpaceBetween" Row=true>
                <MudText Typo="Typo.h5" Color="Color.Primary">Senior Software Engineer</MudText>
                <MudText Typo="Typo.body2">Jan 2023 - 2023</MudText>
            </MudStack>

            <MudText Typo="Typo.h6" Color="Color.Primary">Pina Vida, Edinburgh</MudText>

            <MudText>
                Led migration of Referrals, an integrated workflow system for diamond analysis hardware, from .NET Core 3.1 to .NET 7 while certifying high availability and optimised performance during migration process.
                Developed Python scripts to execute complex algorithms, contributing to system's analytical capabilities. Partnered closely with cross-functional teams using Scrum and Three Amigos-style planned sessions to align Referrals with diverse needs of stakeholders.
            </MudText>
            <MudList>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">Employed event-driven programming using Rx.NET to boost real-time data processing and improve system responsiveness.</MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Integrated various embedded hardware components, such as diamond analysis hardware and NFC card readers, into Referral
                    system, broadening capabilities.
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Implemented critical features for system, including microservices, using C#, WPF, Angular, CosmosDB, and Azure DevOps
                    Pipelines, enhancing system functionality.
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Led comprehensive implementation of four out of eight distinct microservices.
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Managed migration of main part of application, microservice-based WPF application in .NET C#, ensuring application met high
                    availability requirements and leveraged Azure Service Bus event-driven architecture for seamless communication.
                </MudListItem>
            </MudList>
        </MudPaper>
    </MudItem>

    @* Dyneval *@
    <MudItem xs="12" md="6">
        <MudPaper Class="pa-4">

            <MudStack Justify="Justify.SpaceBetween" Row=true>
                <MudText Typo="Typo.h5" Color="Color.Primary">Senior Software Engineer</MudText>
                <MudText Typo="Typo.body2">2021 - 2023</MudText>
            </MudStack>

            <MudText Typo="Typo.h6" Color="Color.Primary">Dyneval, Edinburgh</MudText>

            <MudText>
                Orchestrate end-to-end design and execution of technical solutions aligning seamlessly with customer specifications, leading to
                enhanced customer satisfaction and retention. Collaborate closely with CEO and CTO, fostering efficient communication channels to
                facilitate smooth progression of technical projects, ensuring alignment with organisational goals and objectives. Streamline
                development process by implementing automated pipelines within Azure DevOps, enabling efficient code testing and benchmarking.
                Mentor and guide junior developers, nurturing professional growth and increasing team cohesion. Craft top-notch training materials
                and deliver training sessions to users, empowering clients in deploying/using products effectively. Guided and mentored junior
                developers, fostering growth and instilling best practices in software development.
            </MudText>
            <MudList>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">Employed event-driven programming using Rx.NET to boost real-time data processing and improve system responsiveness.</MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Strengthened development unit and facilitated project scalability by recruiting, interviewing, and onboarding three junior
                    developers, two mid-level developers and software manager.
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Achieved 80% performance boost by reducing hot path processing time from 5 minutes to just 1 minute, and maximising user
                    experience and operational efficiency.
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Augmented revenue streams by heading transformation of product from proof of concept to full-scale production launch,
                    resulting in widespread adoption by over 100+ customers.
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Guaranteed full compliance with data protection regulations, fortified data security measures, and mitigated potential legal
                    risks associated with product by employing stringent GDPR software standards.
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Spearheaded development of a comprehensive solution, combining a WPF desktop app (C# .NET, XAML), React website, mobile
                    app (Xamarin.Forms), and an Asp.net Core API on AWS. Implemented complex mathematical algorithms for fertility sample
                    quality assessment, enhancing accuracy and efficiency.
                </MudListItem>
            </MudList>
        </MudPaper>
    </MudItem>

    @* McDermott Group *@
    <MudItem xs="12" md="6">
        <MudPaper Class="pa-4">

            <MudStack Justify="Justify.SpaceBetween" Row=true>
                <MudText Typo="Typo.h5" Color="Color.Primary">Mobile Engineer</MudText>
                <MudText Typo="Typo.body2">Jan 2024 - Ongoing</MudText>
            </MudStack>

            <MudText Typo="Typo.h6" Color="Color.Primary">McDermott Group, Glasgow</MudText>

            <MudText>
                Directed Xamarin.Forms mobile developer within dynamic team of 15 developers, cultivating collaboration and synergy in SCRUM
                environment managed through Azure DevOps and MS Teams. Connected closely with cross-functional teams including frontend,
                mobile, data, and design, assuring seamless coordination across various projects. Provided guidance and leadership to mobile
                development team, steering efforts towards successful and timely delivery of projects. Facilitated informed decision-making and
                refined project execution by actively engaging in sprint reviews and meetings, contributing valuable project updates/insights.
            </MudText>
            <MudList>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Played pivotal role in development and architecture of mobile module for Chameleon Vision, project with central focus on
                    both Machine Learning and IoT innovation
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Automated deployment cycle by creating DevOps pipelines, amplifying efficiency/reducing manual intervention.
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small">
                    Elevated workflow and advanced project progression by overseeing mobile team backlog management and task prioritisation,
                    confirming optimal utilisation of resources.
                </MudListItem>
            </MudList>
        </MudPaper>
    </MudItem>

    @* Consulence *@
    <MudItem xs="12" md="6">
        <MudPaper Class="pa-4">

            <MudStack Justify="Justify.SpaceBetween" Row=true>
                <MudText Typo="Typo.h5" Color="Color.Primary">Junior Software Developer</MudText>
                <MudText Typo="Typo.body2">2017 – 2019</MudText>
            </MudStack>

            <MudText Typo="Typo.h6" Color="Color.Primary">Consulence, Lund, Sweden</MudText>

            <MudText>
                Tackled diverse array of projects in C# as outsourced consultant, ranging from medical technology desktop development using WPF
                fin-tech development with Angular and e-commerce with Xamarin.Forms
            </MudText>

        </MudPaper>
    </MudItem>

</MudGrid>
